html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    outline: #6d6d6d;
    padding: 20px;
}

.header {
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px
}

.header div {}

.logo__link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo__link__accent {
    color: #000000;
}

.header-nav {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header__nav__link:hover {
    color: #2196F3;
    cursor: pointer
}

.contact a {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.preview {
    background: #2F303A;
    color: #FFFFFF;
}

.button-order {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer
}

.button-order:hover {
    background-color: #4aa7f3;
}

.work h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.work p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-process h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
}

.our-team h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #212121;
}

.our-team p {
    color: #757575;
}

.footer {
    background: #2F303A;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.footer span {
    color: #FFFFFF;
}

.address {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.footer-contact a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.button-preview button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}

.button-preview button:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.samples h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    letter-spacing: 0.06em;
    color: #212121;
}

.samples p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}