*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-style: normal;
}


img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list{
    list-style: none;
}

/* 1. header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__border {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}
.container {
    width: 1200px;
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* 1.1 header navigation */
.header__nav {
    display: flex;
    justify-content:space-evenly
}
.logo__link {
    cursor: default;
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo__link:hover {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.10)
    }
    50% {
        transform: scale(1.20);
    }

    75% {
    transform: scale(1.10)
    }

    100% {
        transform: scale(1);
    }
}

.logo__link__accent {
    color: #2196F3;
}
.header__nav__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap:50px;
    align-items: center;
    padding-left: 93px;
}
.header__nav__item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    transition-property: transform;
    transition-duration: 300ms;
}
.header__nav__link {
    color: #212121;
}

.header__nav__item:hover,
.header__nav__item:focus{
    transform: scale(1.2);
}
.header__nav__link:hover {
color: #2196F3;
}
/* 1.2 header contact */
.header__contact__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}
.header__contact__item {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: baseline;
    
    justify-content: center;
}
.header__contact__link {
    color: #757575;
    fill: #757575;
    transition-property: transform;
    transition-duration: 300ms;
}
.header__contact__link, .header__contact__tel {
    display: flex;
    align-items: center;
}
.contact__icon {
    margin-right: 10px;
}


.header__contact__link:hover,
.header__contact__link:focus {
    color: #2196F3;
    fill: #2196F3;
    transform: scale(1.2);
}


/* 2. Hero*/
.hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 47px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.hero__title {
    display: block;
    text-align: center;
    
}
.hero__subtitle {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* 2.1 hero button */
.hero__button__order {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition-property: transform;
    transition-duration: 300ms;
}

.hero__button__order:hover,
.hero__button__order:focus {
    transform: scale(1.1);
}


/* 3. content */
.none {
    display: none;
}
/* 3.1 content plate*/ 
.content {
    padding-top: 47px ;
    padding-bottom: 47px;
        
}
.content__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.content__item {
    display: block;
    width: calc((100% - 90px) / 4)
}
.content__item:nth-child(4n) {
    margin-right: 0px;
}
.content__icon {
    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 270px;
    height: 120px;
        
    margin-bottom: 30px;
    object-fit: none;
    border-radius: 4px;
    background: #F5F4FA;
}
/* 3.2 content text */
.content__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.content__text {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* 4. Work */
.work {
    padding-top: 47px;
    padding-bottom: 94px;
}
/* 4.1 work title */
.work__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
/* 4.2 work image */
.work__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.work__item {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.work__item > .work__item__label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 370px;

    z-index: 2;

    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
   
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}
.work__item:hover .work__item__label {
    transform: translateY(0);
}

/* 5. Our team */
.team__boarder{
    background-color: #F5F4FA;
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
   }
.team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team__list {
    display: flex;
    gap: 30px;
}
.team__item {
    display: block;
    text-align: center;
    max-width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__subtitle {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
}
.team__text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}
.team__social__link {
    display: block;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}
.social__list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0px;
}
.social__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social__item__icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}
.social__item__link:hover,
.social__item__link:focus {
    background-color: #2196F3;
}
.social__item__link:hover .social__item__icon,
.social__item__link:focus .social__item__icon {
    fill: #FFFFFF;
}

/* 6. CLient */
.client__border {
    background-color: #FFFFFF;
}
.client {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.client__list {
    display: flex;
    gap: 30px;
}
.client__item {
    display: block;
    max-width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 300ms;
}
.client__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.client__item__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.client__item:hover,
.client__item:focus {
    border: 1px solid #2196F3;
    transform: scale(1.1);
}
.client__item:hover .client__item__icon,
.client__item:focus .client__item__icon {
    fill: #2196F3;
}


/* footer */
.footer__boarder {
    background-color: #2F303A;
    margin: 0px;
}
.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 70px;
}
.footer__contacts {
    display: block;
}
.logo__link__footer {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer__contacts__list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 9px;
}
.footer__contacts__item {
    margin-bottom: 9px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer__contacts__item a {
    color: rgba(255, 255, 255, 0.6);
}


.footer__social__title {
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__social__list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin-top: 20px;
}
.footer__social__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.footer__social__item__icon{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.footer__social__item__link:hover,
.footer__social__item__link:focus {
    background: #2196F3;
}

/* backdrop modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;

    transition: all 400ms linear;
}

.modal {
    width: 528px;
    height: 581px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


}
.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    text-align: center;   
}
.contact-form {
    margin: 40px;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    

    border: 1px solid #000000;
}
.contact-form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;


    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
        /* identical to box height */
    
    letter-spacing: 0.01em;
    
    color: #757575;
}
.contact-form-group {
    margin: 0;
    padding: 0;
}
.contact-form-group legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.button-form {
    width: 200px;
    height: 50px;

    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-left: 56px;

    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    /* font-weight: 700; */
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}




/* portfolio */
/* 1. header portfolio*/

/* 2. button */
.button_border {

}
.button__list {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 56px;
}
.button__item button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #F5F4FA;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0;
}
.button__item button:hover, .button__item button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.samples {
    padding-bottom: 94px;
}
.samples__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.samples__item {
    display: block;
    width: calc((100% - 60px) / 3 );
    /* width: 370px; */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
   
}
.samples__item:nth-child(3n) {
    margin-right: 0px;
}
.samples__item__wrapper {
    position: relative;
    overflow: hidden;

    z-index: 1;
}
.samples__item__wrapper > .samples__item__label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 63px 24px;

    z-index: 2;

    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    background: rgba(33, 150, 243, 0.9);

    align-items: center;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.samples__item:hover {
    border: 0px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.samples__item:hover .samples__item__label {
    transform: translateY(0);
}
.samples__subtitle {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.samples__text {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
