.footer {
    display: flex;
    align-items: flex-start;

    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #2F303A;
    background-position: center;
}
/* =========================footer contacts============================== */
.footer-contacts {
    display: block;

    &__list {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        column-gap: 9px;
    }

    &__item {
        margin-bottom: 9px;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        

        a {
        color: rgba(255, 255, 255, 0.6);
        }
    }


}

/* ==================footer social============================ */
.footer-social-link {
    margin-left: 70px;

    &__title {
        margin-top: 12px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

}
.footer-social {
    &__list {
        display: flex;
        justify-content: space-between;
        width: 206px;
        margin-top: 20px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-property);

        &:hover,
        &:focus {
            background: var(--brand-color);
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
    }
}
/* =================footer sub=========================== */
.footer-subscribe {
    margin-top: 17px;
    margin-left: 93px;

    &__title {
        @include font($fw: 700, $lh: 16px);
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    &__form {
        display: flex;
        gap: 12px;
    }

    &__input {
        display: flex;
        align-items: center;
        width: 358px;
        height: 50px;
    
        padding-left: 16px;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
    
        @include font($fs: 16px, $lh: 20px);

        color: #FFFFFF;

        &:focus,
        &:hover {
            outline: none;
            border-color: var(--brand-color);
        }
    }

    &__button {
        width: 200px;
        height: 50px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: var(--brand-color);
        border: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    
        @include font($fw: 700, $fs: 16px, $lh: 30px, $ls: 0.06em);

            color: #FFFFFF;
    
        transition: transform var(--transition-property);

        &:hover {
            background-color: #0981e4;
        }
        &:active {
            background-color: #0981e4;
            box-shadow: 0 2px #666;
            transform: translateY(3px);
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }
}
