.header-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: none;
}
.header-contact__list {
    display: none;
}
.nav-menu {
    border: 0;
    background-color: #FFFFFF;
    padding: 0;

    &__icon {
    border: 0;
    width: 40px;
    height: 40px;
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    // max-width: 480px;
    height: 100vh;
    background-color: #FFFFFF;

    padding: 48px 40px;

    display: flex;
    flex-direction: column;

    transform: translateY(-100%);
    transition: transform 250ms linear;

    &__close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        border: 0;
        background-color: #FFFFFF;
        padding: 0;
    }
    &__close-icon {
        border: 0;
        width: 40px;
        height: 40px;
    }
}
.is-open {
    transform: translateY(0);
}

.mobil-social {
    &__list {
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-property);
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: var(--brand-color);
    }
}
// .header {
//     padding-top: 24px;
//     padding-bottom: 24px;
//     border-bottom: 1px solid #ECECEC;
// }
// .header-nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// /* 1.1 header navigation */
// .nav {
//     display: flex;
//     justify-content: space-evenly;

//     &__list {
//         display: flex;
//         flex-wrap: nowrap;
//         justify-content: space-evenly;
//         gap: 50px;
//         align-items: center;
//         padding-left: 93px;
//     }

//     &__item {
//         font-weight: 500;
//         line-height: 1.15;
//         letter-spacing: 0.02em;
    
//     }

//     &__link {
//         position: relative;
//         color: var(--title-text-color);
//         // padding-bottom: 28px;
//         transition: color var(--transition-property);

//         &:hover,
//         &:focus {
//         color: var(--brand-color);
//         }

//         // &.current::after {
//         //     content: '';
//         //     position: absolute;
//         //     left: 0;
//         //     bottom: 0;
//         //     display: block;
//         //     width: 100%;
//         //     height: 4px;
//         //     border-radius: 2px;
//         //     background-color: var(--brand-color);
//         // }
//     }
// }

// .current::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 44px;
//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--brand-color);
// }
// /* 1.2 header contact */



// .header-contact {
//     &__list {
//         display: flex;
//         flex-wrap: nowrap;
//         justify-content: space-evenly;
//         gap: 30px;
//         align-items: center;
//     }

//     &__item {
//         display: flex;
//         align-items: baseline;
//         justify-content: center;
    
//         font-weight: 500;
//         line-height: 1.15;
//         letter-spacing: 0.02em;
//         text-decoration: none;
//     }

//     &__link {
//         display: flex;
//         align-items: center;
//         color: #757575;
//         fill: #757575;
//         transition: color var(--transition-property);
//         transition-property: transform;
//         transition-duration: 300ms;

//         &:hover,
//         &:focus {
//             color: var(--brand-color);
//             fill: var(--brand-color);
//             transform: scale(1.1);
//         }
//     }

//     &__icon {
//         margin-right: 10px;
//     }
// }
