.header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 1.1 header navigation */
.header-nav {
    display: flex;
    justify-content: space-evenly
}

.header-nav__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    padding-left: 93px;
}

.header-nav__item {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;

}

.header-nav__link {
    position: relative;
    color: var(--title-text-color);
    padding-bottom: 28px;
    transition: color var(--transition-property)
}

.header-nav__link:hover,
.header-nav__link:focus {
    color: var(--brand-color);
}

.header-nav__link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
}

/* 1.2 header contact */
.header-contact__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.header-contact__item {
    display: flex;
    align-items: baseline;
    justify-content: center;

    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.header-contact__link {
    color: #757575;
    fill: #757575;
    transition: color var(--transition-property);
    transition-property: transform;
    transition-duration: 300ms;
}

.header-contact__link:hover,
.header-contact__link:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
    transform: scale(1.2);
}

.header-contact__link,
.header-contact__tel {
    display: flex;
    align-items: center;
}

.header-contact__icon {
    margin-right: 10px;
}