.header {
    border-bottom: 1px solid #ECECEC;
}
.header-nav {   
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.nav {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
    }
    &__list {
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            gap: 50px;
            align-items: center;
            padding-left: 88px;
        }
            @media screen and (min-width: 1200px) {
                flex-direction: row;
                gap: 30px;
                align-items: center;
            }
        }
    &__link{    
        @media screen and (min-width: 768px) {
            position: relative;
            @include font($fw: 500, $fs: 14px, $lh: 16px, $ls: 0.02em);
            color: var(--title-text-color);
            transition: color var(--transition-property);
        
            &:hover,
            &:focus {
                color: var(--brand-color);
            }
        }
    }
}
.header-contact__list {
    display: none;
}

.current::after {
    @media screen and (min-width: 768px) {
        content: '';
        position: absolute;
        left: 0;
        top: 46px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--brand-color);
    }
    @media screen and (min-width: 1200px) {
        top: 45px;
    }
}
.header-contact {
    &__list {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 10px;
            align-items: flex-start;
        }
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 30px;
            align-items: center;
        }
    }

    &__item {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
            justify-content: center;
            text-decoration: none;
        }
    }

    &__link {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            @include font($fw: 500, $fs: 12px, $lh: 14px, $ls: 0.02em);
            color: #757575;
            fill: #757575;
            transition: color var(--transition-property);
            

            &:hover,
            &:focus {
                color: var(--brand-color);
                fill: var(--brand-color);
                
            }
        }
    }
    &__icon {
        @media screen and (min-width: 768px) {
            margin-right: 8px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
    }
}
.nav-menu {
    border: 0;
    background-color: #FFFFFF;
    padding: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__icon {
        border: 0;
        width: 40px;
        height: 40px;

        .nav-menu:hover & {
            fill: var(--brand-color);
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;

    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateY(-200%);
    transition: transform 250ms linear;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        border: 0;
        background-color: #FFFFFF;
        padding: 0;
    }

    &__close-icon {
        border: 0;
        width: 40px;
        height: 40px;

        .mobile-menu__close-button:hover & {
            fill: var(--brand-color);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        gap: 32px;
    }

    &__link {
        @include font($fw: 500, $fs: 40px, $lh: 47px, $ls: 0.02em);
        color: var(--secondary-text-color);

        &:hover {
            color: var(--brand-color);
        }
    }
}

.is-open {
    transform: translateY(0);
}

.mobile-contact {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 10%;
    }

    &__item {
        @include font($fw: 500, $fs: 24px, $lh: 28px, $ls: 0.02em);
        max-width: 480px;
        min-width: 300px;
    }

    &__tel {
        @include font($fs: 34px, $lh: 40px, $ls: 0.02em);
        color: var(--brand-color);
    }

    &__mail {
        color: var(--primary-text-color);
    }

}

.mobile-social {
    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid var(--brand-color);
    }

    &__icon {
        width: 27px;
        height: 27px;
        fill: var(--brand-color);
    }
}



// ===========================1200px================================================
// @media screen and (min-width: 1200px) {
//     .header-nav {
//         padding-top: 24px;
//         padding-bottom: 25px;
//     }

//     .nav {
//             &__list {
//             padding-left: 93px;
//         }
//     }

//     .current::after {
//         top: 45px;
//     }
//     /* 1.2 header contact */

//     .header-contact {
//         &__list {
//             flex-direction: row;
//             gap: 30px;
//             align-items: center;
//         }

//         &__icon {
//             margin-right: 10px;
//         }
//     }
// }
