.work {
    padding-top: 47px;
    padding-bottom: 94px;
}
/* 4.1 work title */
.box {
    &__title {
        margin-bottom: 50px;

        @include font($fw: 700, $fs: 36px, $lh: 42px);
        text-align: center;
        color: var(--title-text-color);
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }

    &__item {
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    &__label {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        width: 100%;
        
        z-index: 2;
        
        // transform: translateY(100%);
        // transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
        
        text-align: center;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        background-color: rgba(47, 48, 58, 0.8);
        color: #FFFFFF;

    //     .box__item:hover & {
    //         transform: translateY(0);
    //     }
    // }
    }
}
