*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);

    font-family: "Roboto", sans-serif;
    @include font()

}
img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list {
    list-style: none;
}